html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

canvas {
    background: black;
    height: 500px;
    width: 500px;
}

ul {
    width: 200px;
    font-size: 10px;
}

#avgRegionSpeed {
    position: absolute;
    text-align: center;
    bottom: 10px;
    font-size: 12px;
}